<form class="form-signin" name="editAccountForm" role="form"
      ng-submit="(editAccountForm.Password.$viewValue===editAccountForm.confirmPassword.$viewValue)&&editAccountForm.$valid&&loginCtrl.doEditUser(page,loginCtrl)"
      novalidate>

    <legend>Edit your account settings</legend>

    <label for="inputEmail" class="sr-only">Email</label>
    <input type="email" id="inputEmail" class="form-control" ng-model="loginCtrl.user.email" placeholder="Email"
           name="Email" pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$"
           required autofocus>

    <p></p>
    <span class="label label-warning" ng-show="!editAccountForm.Email.$valid">Email must be like abc@abd.ru</span>

    <p></p>

    <!--<label for="inputLogin" class="sr-only">Username</label>
    <input type="text" id="inputLogin" class="form-control" ng-model="loginCtrl.user.login" placeholder="Username"
           name="Username" minlength="6" required>

    <p></p>
    <span class="label label-warning" ng-show="!editAccountForm.Username.$valid">Login minimum length 6</span>

    <p></p>-->

    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" ng-model="loginCtrl.user.password" class="form-control"
           placeholder="Password" name="Password" pattern="^.*(?=.{8,})(?=.*\d)(?=.*[a-zA-Z]).*$" required>

    <p></p>
<span class="label label-warning" ng-show="!editAccountForm.Password.$valid">Password minimum length 8 and
    should have main letter and digit</span>

    <p></p>

    <label for="confirmPassword" class="sr-only">Password Confirm</label>
    <input type="password" id="confirmPassword" class="form-control" ng-model="loginCtrl.confirmPassword"
           placeholder="Confirm Password" name="confirmPassword" pattern="^.*(?=.{8,})(?=.*\d)(?=.*[a-zA-Z]).*$"
           required>

    <p></p>
<span class="label label-warning"
      ng-show="(editAccountForm.Password.$viewValue!==editAccountForm.confirmPassword.$viewValue)">
    Passwords should be same</span>

    <p></p>

    <div ng-repeat="error in loginCtrl.getEditUserErrors()" ng-show="loginCtrl.getEditUserErrors().length">
        <div class="alert alert-danger" role="alert">{{error.property}} = {{error.message}}</div>
    </div>

    <button class="btn btn-lg btn-block" type="submit"
            ng-class="{'btn-success' : editAccountForm.$valid&&(editAccountForm.Password.$viewValue===editAccountForm.confirmPassword.$viewValue), 'btn-danger disabled' : !editAccountForm.$valid||(editAccountForm.Password.$viewValue!==editAccountForm.confirmPassword.$viewValue)}">
        Confirm changes
    </button>
</form>