<div class="header">
    <nav>
        <ul class="nav nav-pills pull-right"
            ng-show="!page.doShow('dash')&&!page.doShow('account')&&!page.doShow('search')">
            <li role="presentation"><a href="//github.com/BioQwer/NoteKeeper" target="_blank">About</a></li>
        </ul>
        <ul class="nav nav-pills pull-right"
            ng-show="page.doShow('dash')||page.doShow('account')||page.doShow('search')">
            <li role="presentation" class="active"><a href="#">Hello, {{loginCtrl.user.login}}</a></li>
            <li role="presentation" ng-show="!page.doShow('account')&&!page.doShow('search')"><a data-toggle="modal"
                                                                                                 data-target="#addModal"
                                                                         ng-click="loginCtrl.setForEdit({})"><span
                    class="glyphicon glyphicon-plus"></span> Add
                Note</a></li>
            <li role="presentation"><a ng-click="page.setPage('account')" ng-show="!page.doShow('account')">Account
                settings</a></li>
            <li role="presentation" ng-show="!page.doShow('account')&&!page.doShow('search')"><a
                    ng-click="page.setPage('search');searchCtrl.searchItem =''"><span
                    class="glyphicon glyphicon-search"></span> Search</a></li>
            <li role="presentation"><a ng-click="page.setPage('dash')"
                                       ng-show="page.doShow('account')||page.doShow('search')">Go to
                DashBoard</a></li>
            <li role="presentation"><a ng-click="loginCtrl.logout(page,loginCtrl)">Logout</a></li>
        </ul>
    </nav>
    <h3 class="text-muted">NoteKeeper</h3>
</div>