<!DOCTYPE html>
<html ng-app="noteKeeper">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="application-plus-black.png">

<title>NoteKeeper Welcome Page</title>

<!-- Bootstrap core CSS -->
<link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="css/custom.css" rel="stylesheet">
<link href="css/jumbotron-narrow.css" rel="stylesheet">
<link href="css/signin.css" rel="stylesheet">
<link href="css/app.css" rel="stylesheet">

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->


<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="js/app.js"></script>
</head>

<body ng-controller="PageCtrl as page">

<div class="container" ng-controller="LoginController as loginCtrl" ng-init="page.checkLogin(loginCtrl,page)">


    <div ng-controller="SearchController as searchCtrl">
        <div header></div>
        <div locator></div>
        <div main-page ng-show="page.doShow('main')"></div>
        <div login-page ng-show="page.doShow('login')"></div>
        <div dash-page ng-show="page.doShow('dash')"></div>
        <div sing-up ng-show="page.doShow('singUp')"></div>
        <div account-page ng-show="page.doShow('account')"></div>
        <div search-page ng-show="page.doShow('search')"></div>
    </div>

    <form name="editNote" novalidate>
        <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="showNoteVersionTable=false"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Edit note</h4>
                    </div>
                    <div class="modal-body">
                        <form role="form">
                            <div class="form-group">
                                <label for="head"><span class="label label-info">Head</span></label>
                        <textarea ng-model="loginCtrl.getForEdit().head" class="form-control" rows="1"
                                  id="head" required></textarea>
                                <label for="body"><span class="label label-info">Body</span></label>
                        <textarea ng-model="loginCtrl.getForEdit().body" class="form-control" rows="3"
                                  id="body"></textarea>
                            </div>
                        </form>
                        <a ng-click="showNoteVersionTable=!showNoteVersionTable">
                            Show versioning of note
                        </a>
                        <!-- Table -->
                        <div id="NoteVersionTable" class="bs-example" data-example-id="panel-without-body-with-table"
                             ng-init="loginCtrl.doGetNoteMonitoring()" ng-if="showNoteVersionTable">
                            <p>

                            <div class="panel panel-default">
                                <!-- Default panel contents -->
                                <div class="panel-heading">Versioning of profile</div>

                                <!-- Table -->
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Rollback</th>
                                        <th>Changing Time</th>
                                        <th>Head</th>
                                        <th>Body</th>
                                    </tr>
                                    </thead>
                                    <tbody ng-repeat="noteMonitoring in loginCtrl.getNoteMonitoring()">
                                    <tr>
                                        <td><span ng-click="loginCtrl.doRevertFromMonitoring(noteMonitoring)" class="glyphicon glyphicon-save btn btn-info btn-xs"></span></td>
                                        <td><span
                                                class="label label-success">{{noteMonitoring.logTime|date:'medium'}}</span>
                                        </td>
                                        <td><textarea aria-readonly="true"
                                                      rows="auto">{{noteMonitoring.logData.head}}</textarea></td>
                                        <td><textarea rows="1">{{noteMonitoring.logData.body}}</textarea></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="showNoteVersionTable=false">Close</button>
                        <button type="button" class="btn btn-success" data-dismiss="modal"
                                ng-click="editNote.$valid&&loginCtrl.saveEdit(loginCtrl);showNoteVersionTable=false"
                                ng-class="{'btn-success'   : editNote.$valid, 'disabled' : !editNote.$valid}">Save
                            changes
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <form name="addNote" novalidate>
        <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="addModalLabel">Add note</h4>
                    </div>
                    <div class="modal-body">
                        <form role="form">
                            <div class="form-group">
                                <label for="addHead"><span class="label label-info">Head</span></label>
                            <textarea ng-model="loginCtrl.getForEdit().head" class="form-control" rows="1"
                                      id="addHead" required></textarea>
                                <label for="addBody"><span class="label label-info">Body</span></label>
                            <textarea ng-model="loginCtrl.getForEdit().body" class="form-control" rows="3"
                                      id="addBody"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-success" data-dismiss="modal"
                                ng-click="addNote.$valid&&loginCtrl.addNewNote(loginCtrl)"
                                ng-class="{'btn-success'   : addNote.$valid, 'disabled' : !addNote.$valid}">Save changes
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <footer class="footer">
        <p>&copy; <a href="//github.com/BioQwer" target="_blank">BioQwer</a> 2014-2015</p>
    </footer>
</div>
<!-- /container -->

</body>
</html>